.celebrating-80-years {
  position: relative;

  background: url('//assetlibs.kaplaninternational.com/_assets/about-us/images/80-years-bg-small.jpg') center center no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;


  @mixin atSmall {
    background: url('//assetlibs.kaplaninternational.com/_assets/about-us/images/80-years-bg.jpg') top left no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;

  }


  &__content {

    padding: 28px 15px;
    max-width: 900px;
    margin: 0 auto;


    h3 {
      font-size: 14px;
      color: white;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;

      @mixin atSmall {
        font-size: 18px;
      }
      @mixin atMedium {
        font-size: 20px;
      }
      @mixin atLarge {
        font-size: 24px;
      }
    }

    p {
      font-size: 12px;
      color: white;
      text-align: center;

      @mixin atSmall {
        font-size: 14px;
      }
      @mixin atMedium {
        font-size: 16px;
      }
    }
  }
  ._icon {
    margin: 20px auto;
  }

  ._icon--ki-80-years-white {

    display: none;

    @mixin atSmall {
      display: block;
    }
  }
}